.symp-menu {
  margin: 0;
  padding: 0;
}
.symp-menu li {
  margin: 0 1px 0 0;
  padding: 0;
  display: inline-block;
  position: relative;
}
.symp-menu li a {
  background: #09018b;
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 10px 18px;
  text-decoration: none;
}
.symp-menu li a:hover,
.symp-menu li a:active,
.symp-menu li a.hover {
  background: #070172;
  color: #fff;
}
.symp-menu li a.active {
  background: #0c01be;
  color: #fff;
}
.symp-menu li ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #070172;
  width: 100%;
  min-width: 200px;
  z-index: 99;
}
.symp-menu li ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.symp-menu li ul li a {
  color: #fff;
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  position: relative;
}
.symp-menu li ul li a:hover,
.symp-menu li ul li a:focus {
  background: #060158;
}
.symp-menu li ul li a i {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 10px;
}
.symp-menu li ul li ul {
  top: 0;
  left: 100%;
}
.symp-menu li:hover > ul,
.symp-menu li:focus > ul,
.symp-menu li.open > ul {
  display: block;
}
.symp-menu > li.sub-menu > a {
  padding-right: 32px;
  position: relative;
}
.symp-menu > li.sub-menu > a i {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 40em) {
  /* #menu is the original menu */
  .js .symp-menu {
    display: none;
  }
  .js .slicknav_menu {
    display: block;
  }
}
