.symp-menu {
  margin: 0;
  padding: 0;
  li {
    margin: 0 1px 0 0;
    padding: 0;
    display: inline-block;
    position: relative;
    a {
      background: #09018b;
      color: #fff;
      font-size: 16px;
      display: block;
      padding: 10px 18px;
      text-decoration: none;
      &:hover, &:active, &.hover {
        background: darken(#09018b, 5%);
        color: #fff;
      }
      &.active {
        background: lighten(#09018b, 10%);
        color: #fff;
      }
    }
    ul {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: darken(#09018b, 5%);
      width: 100%;
      min-width: 200px;
      z-index: 99;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        a {
          color: #fff;
          display: block;
          padding: 6px 15px;
          text-decoration: none;
          &:hover, &:focus {
            background: darken(#09018b, 10%);
          }
          position: relative;
          i {
            color: fade(#fff, 50%);
            position: absolute;
            right: 10px;
          }
        }
        ul {
          top: 0;
          left: 100%;
        }
      }
    }
    &:hover, &:focus, &.open {
      > ul {
        display: block;
      }
    }
  }
  > li.sub-menu {
    > a {
      padding-right: 32px;
      position: relative;
      i {
        color: fade(#fff, 50%);
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -8px;
      }
    }
  }
}
.slicknav_menu {
	display: none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js .symp-menu {
		display: none;
	}

	.js .slicknav_menu {
		display: block;
	}
}